  <% if  flash[:errors].present? %>
  <div class="alert alert-danger">
    <%= flash[:errors] %>
  </div>
<% end %>
<h3>About</h3>
 <p> <%= I18n.t ".title" %> </p>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Post</th>
        <th class="text-center">Image</th>
        <th class="text-center">Content</th>
        <th>Show</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <% @blogs.each do |blog| %>
        <td><%= blog.post %></td>
        <td class="text-center"><%= image_tag(blog.images.first, :class => 'list_image') if blog.images.present? %></td>
        <td ><%= truncate(blog.content, :length => 80) %></td>
        <td><%= link_to '<i class="glyphicon glyphicon-search"></i>'.html_safe, blog_path(blog), class: "btn btn-primary btn-xs"%> </td>      </tr>
      <% end %>
    </tbody>
  </table>
<p><%= will_paginate @blogs %></p>

