<p id="notice"><%= notice %></p>

<h1 class="text-center">
  <%= @blog.post %>
</h1>

<p class="text-center">
  <% @blog.images.each do |image| %>
    <%= image_tag image, class: "detail-images" %>
  <% end %> <br/>
</p>

<p>
  <%= @blog.content.html_safe %>
</p>

<br/>
<h3>Add a comment:</h3>
<h2> <%= @blog.comments.count %> Comments </h2>
  <%= render 'comments/form' %> <br/>
  <%= render "comments/comments" %> <br/>
<br/>


<%= link_to 'Back', blogs_path %>
