<% @blog.comments.each do |comment|%>
  <% if comment.created_at %>
    <div class="comment-item">
      <%= comment.name %>
      <span><%= time_ago_in_words(comment.created_at) %> ago <br/> </span>
        <div class="comment-item-body">
        <%= comment.body %>

        <%= link_to 'Delete', [comment.blog,comment], method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-primary pull-right" if policy(@blog).destroy? %>
        </div>
    </div>
  <% end %>
<% end %>

