console.log(112312)
<%- if @comment && @comment.valid? %>
  <% if current_user.present? %>
    $('#comment_name').val('<%= current_user.username %>');
  <% else %>
    $('#comment_name').val("");
  <% end %>
<% else %>
  var strError = '<div class="alert alert-danger"><%=  @comment.errors.full_messages.join(", ") %></div>'
  $('#comment .errors').html(strError)
<% end %>
console.log(112)
$('#comment_body').val("");
$('#comment').append(" <%= j render @comment %>");


