<section id="pagecomment">
  <div class="errors">
  </div>
  <%= form_for([@page,@page.pagecomments.new], remote: true) do |f| %>

      <% if current_user.present? %>
          <%= f.label :name %>
          <%= f.text_field :name, placeholder: "Name", class: "form-control", value:current_user.username, :readonly => true %>
      <% else %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
        </div>
      <% end %>

      <div class="form-group">
        <span><b> Your Message </b></span>
        <%= f.text_area :body, placeholder: "Enter Message", class: "form-control" %>
      </div>
      <div class="actions">
        <%= f.submit "Post", class: "btn btn-primary" %>
      </div>
  <% end %>
</section>