<% @page.pagecomments.each do |pagecomment| %>
  <% if pagecomment.created_at %>
    <div class="comment-item">
      <%= pagecomment.name %>
      <span><%= time_ago_in_words(pagecomment.created_at) %> ago <br/> </span>
        <div class="comment-item-body">
        <%= pagecomment.body %>
        <%= link_to 'Delete', [@page,pagecomment], method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-primary pull-right" if policy(@page).destroy? %>
        </div>
    </div>
  <% end %>
<% end %>