console.log(112312)
<%- if @pagecomment && @pagecomment.valid? %>
  <% if current_user.present? %>
    $('#pagecomment_name').val('<%= current_user.username %>');
  <% else %>
    $('#pagecomment_name').val("");
  <% end %>
<% else %>
  var strError = '<div class="alert alert-danger"><%=  @pagecomment.errors.full_messages.join(", ") %></div>'
  $('#pagecomment .errors').html(strError)
<% end %>
console.log(112)
$('#pagecomment_body').val("");
$('#pagecomment').append(" <%= j render @pagecomment %>");


