<nav class="navbar navbar-inverse admin">
  <div class="container">
    <div class="navbar-header">
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', admin_users_path %></li>
        <li><%= link_to 'Products Management', admin_products_path %></li>
        <li><%= link_to 'Users Management', admin_users_path %></li>
        <li><%= link_to 'Blogs Management', admin_blogs_path %></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>
        <%= image_tag(current_user.image_url(:thumb), class: "user-avatar") if current_user.image.present? %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <%= current_user.username %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to 'Profile', edit_user_registration_path %></li>
              <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to 'Log In', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>
        <li> <%= link_to "English", locale: "en", class: "btn btn-default"%> </li>
        <li> <%= link_to "VietNam", locale: "vi", class: "btn btn-default"%> </li>
      </div>
      </ul>
    </div>
  </div>
</nav>