<% if current_user.try(:username).nil? %>
 <div></div>
<% else %>
 <h1> Hi <%= current_user.try(:username) %></h1>
<% end %>
<div class="form-group preview">
<%= form_tag url_preview_pages_path do  %>
<%= text_field_tag :image_remote_url, "", class: "form-control", placeholder: "Post your link here"%>
<% end %>
</div>
<pre>
  <div id="url_preview"></div>
  <div id="title_preview"></div>
  <div id="image_preview"></div>
  <p id="description_preview"></p>
</pre>



<a class="btn btn-primary" id="sub-db" data-url="/pages/new" href="javascript:void(0)"> POST THIS LINK </a>
  <% if  flash[:errors].present? %>
  <div class="alert alert-danger">
    <%= flash[:errors] %>
  </div>
<% end %>
<table class="table table-striped">
    <thead>
      <tr>
        <th class="text-center">Title</th>
        <th class="text-center">Image</th>
        <th class="text-center">Description</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <% @pages.each do |page| %>
        <td><%= page.title %></td>
        <td class="text-center"><%= image_tag(page.image_url, :class => 'list_image') if page.image_url.present? %></td>
        <td ><%= truncate(page.content, :length => 80) %></td>
        <td><%= link_to '<i class="glyphicon glyphicon-search"></i>'.html_safe, page_path(page), class: "btn btn-primary btn-xs"%> </td>
        <% if current_user.try(:role) == "admin" %>
        <td> <%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, page_path(page), data: { confirm: 'Are you sure?' },
                    :method => :delete, class: "btn btn-danger btn-xs" %></td>
        <% end %>            
      </tr>
      <% end %>
    </tbody>
  </table>

  <p><%= will_paginate @pages %></p>

  
        
