

<div class="container  text-center">
<p>
  <strong>Post:</strong>
  <%= @page.title %>
</p>
<p>
  <%= image_tag @page.image_url, class: "detail-images" %>
</p>
<p>
  <strong>Content:</strong>
  <%= @page.content %>
</p>
<br>
</div>
<div class="container">
<h2> <%= @page.pagecomments.count %> Comments</h2>
<h3> Add a Comments: </h3>
        <%= render 'pagecomments/form' %> 
  
        <%= render 'pagecomments/pagecomments'  %>
        
<br>
</div>