<p id="notice"><%= notice %></p>

<h1 class="text-center">
  <%= @page.post %>
</h1>

<p class="text-center">
  <% @page.images.each do |image| %>
    <%= image_tag image, class: "detail-images" %>
  <% end %> <br/>
</p>

<p>
  <%= @page.content %>
</p>

<br/>
<h3>Add a comment:</h3>
<h2> <%= @page.comments.count %> Comments </h2>
  <%= render 'comments/form' %> <br/>
  <%= render @page.comments %> <br/>
<br/>

<%= link_to 'Back', pages_path %>
