<h3>Edit a product</h3>

<%= form_for([:admin, @product]) do |f| %> 
    <div class="form-group">
        <%= f.label :Product_name %><br>
        <%= f.text_field :name, placeholder: "Product Name", class: "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :description %><br>
        <%= f.text_area :description, :rows => 6, placeholder: "Product description", class: "form-control" %>
    </div>    

    <%= f.label :images %><br>
    <%= f.file_field :images, multiple: true %>

    <div class="form-group">
        <%= f.label :slug %><br>
        <%= f.text_field :slug, placeholder: "Slug", class: "form-control" %>
    </div>

    <div class="actions">
        <%= f.submit "Submit", class: "btn btn-primary" %>
        <%= link_to "Back", admin_products_path(product), class: "btn btn-primary" %>
    </div>
<% end %>
