<% if  flash[:errors].present? %>
  <div class="alert alert-danger">
    <%= flash[:errors] %>
  </div>
<% end %>
 <p> <%= I18n.t ".title" %> </p>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Post</th>
        <th>Image</th>
        <th>Content</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <% @products.each do |product| %>
        <td><%= product.name %></td>
        <td><%= image_tag(product.images.first, :class => 'list_image') if product.images.present? %></td>
        <td><%= truncate(product.description, :length => 80) %></td>
        <td><%= link_to '<i class="glyphicon glyphicon-search"></i>'.html_safe, admin_product_path(product), class: "btn btn-primary btn-xs"%> </td>
        <td> <%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_admin_product_path(product), class: "btn btn-primary btn-xs" %></td>
        <td> <%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, admin_product_path(product), data: { confirm: 'Are you sure?' },
                    :method => :delete, class: "btn btn-danger btn-xs" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <td> <%= link_to "New Post", new_admin_product_path, class: "btn btn-primary" %></td>
  
  <%= will_paginate @products, class: "pagination" %>
  

