<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @product.slug %>
</p>

<h3>Product Images</h3>
<table class="table table-striped">
    <thead>
      <tr>
        <th>No</th>
        <th>Image</th>
        <th>Image Replace</th>
        <th>Submit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <% @product.images.each_with_index do |image, i| %>
        <td><%= i+1 %></td>
        <td><%= image_tag(image, :class => 'list_image')%></td>
        <%= form_tag admin_product_image_path(@product.id, i), method: :put, multipart: true  do %> 
          <td> <%= file_field_tag "image", class: "upload-image" %></td>
          <td> <%= button_tag "", type: "submit", class: "btn btn-primary glyphicon glyphicon-ok btn-xs submit-image", disabled: true %></td>
        <% end %>
        <td>
        <%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe ,admin_product_image_path(@product , i), method: :delete, confirm: 'Delete?', class: "btn btn-danger btn-xs"%> </td>
      </tr>
      <% end %>
    </tbody>
  </table>

<%= link_to 'Edit', edit_admin_product_path(@product), class: "btn btn-primary" %>
<%= link_to 'Back', admin_products_path, class: "btn btn-primary" %>

<script>


    $(document).ready(function(params) {
      $('.upload-image').on('change', function (e) { 
        if( ($(e.target).val() != "") ){
          console.log(1)
          $(e.target).closest('tr').find('.submit-image').attr('disabled', false);
        }else{
          
          $(e.target).closest('form').find('.submit-image').attr('disabled', true);
        }
        console.log(($(e.target)))
        console.log($(e.target).closest('form').find('.submit-image'))
       })
    })
</script>