html {
  position: relative;
  min-height: 100vh;
}

body {
  margin: 0 0 50px;
  /* bottom = footer height */
}

.main{
  min-height: 100vh;
}

#product_list table tr td {
  padding: 5px;
  vertical-align: top;
}

#product_list .list_image {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 450px;
  max-height: 450px;
}

#product_list .list_description {
  width: 60%;
}

#product_list .list_description dl {
  margin: 0;
}

#product_list .list_description dt {
  color: #244;
  font-weight: bold;
  font-size: 24px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

#product_list .list_actions {
  font-size: 18px;
  text-align: right;
  padding-left: 1em;
}

#product_list .list_actions .btn{
  width: 100%;
  margin: 5px;
}


#product_list .list_actions br{
  margin-bottom: 5px;
}

#product_list .list_line_even {
  background: #e0f8f8;
}

#product_list .list_line_odd {
 background: #fcf8e3;
}

.page-footer{
  position: static;
  bottom: 0;
  margin-top: 50px;
  height: 50px;
  background-color: #000;
  color: #fff;
  line-height: 50px;
  width: 100%;
}

.navbar a{
  font-size: 16px;
}

.admin{
  background-color: #77d!important;
  border-color: transparent!important;
}
.admin a{
  color: #fff!important;
}

.admin a:hover{
  opacity: 0.7;
}

.admin .dropdown-menu li a {
  color: #000!important;
}

img{
  padding-top: 10px;
  padding-bottom: 10px;
}

input{
  padding-bottom: 10px;
}

.user-avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  background-position: top center;
}

.detail-images{
  max-width: 300px;
}

.comment-item{

  margin-bottom: 5px;
  font-size: 18px;
  width: 50%;
  font-weight: bold;
  color: #77d;
}

.comment-item span{
  font-size: 12px;
  font-weight: lighter;
}

.comment-item-body{
  font-size: 20px;
  color: #000;
  font-weight: normal;
}

pre{
  width: 60%;
  overflow: hidden!important;
}

pre img{
  width: 50%;
}

.preview{
  width: 60%;
}

.replies {margin-left: 50px;}

.replies .replies .replies .replies .replies {margin-left: 0;}

.list_image{
  width: 50%;
}

a:visited{
  color: #fff!important;
}

.dropdown-menu li a{
  color: #666!important;
}

.pagination {
  float: right;
  font-size: 18px;
}

.pagination a{
  color: #1d1d1d!important;
}

.pagination a:hover{
  color: #1d1d1d!important;
  background-color: #666;
  text-decoration: none;
  transition: 0.4s all ease;
}


