<%= form_for([:admin, @user]) do |f| %>

    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :email %>
    <%= f.text_field :email %>
    
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
    <%= f.label :role%>
    <%= f.select :role , User::ROLES%>
<% end %>

