<h2>Edit User</h2>
 
<%= form_for([:admin, @user]) do |f| %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

     <%= f.label :role%>
    <%= f.select :role , User::ROLES, {prompt: 'Select Role'}, class: "form-control" %>
  <br/>

    <%= f.label :image %> <br />
    <%= image_tag @user.image %>
    <%= f.file_field :image, value: "Choose a file"  %>

  <div class="actions">
    <%= f.submit "Update", class: "btn btn-primary" %>
    <%= link_to "Back", admin_users_path, class: "btn btn-primary" %>
  </div>
<% end %>

