<% if  flash[:errors].present? %>
  <div class="alert alert-danger">
    <%= flash[:errors] %>
  </div>
<% end %>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <% @users.each do |user| %>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td> <%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_admin_user_url(user), class: "btn btn-primary btn-xs" %></td>
        <td> <%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, admin_user_path(user), data: { confirm: 'Are you sure?' },
                    :method => :delete, class: "btn btn-danger btn-xs" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <td> <%= link_to "New User", "users/new", class: "btn btn-primary" %></td>



        