<h2>New User</h2>
 
<%= form_for([:admin, @user]) do |f| %>
  <%= @user.errors.full_messages %>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>
 
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control" %>
  </div>
 
  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>
 
  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>
  
    <%= f.label :role%>
    <%= f.select :role , User::ROLES, {prompt: 'Select Role'}, class: "form-control" %>
  <br/>

  <%= f.label :image %> <br />
    <%= image_tag @user.image %>
    <%= f.file_field :image, value: "Choose a file"  %>
  
 
  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
    <%= link_to "Back", admin_users_path, class: "btn btn-primary" %>
  </div>

<% end %>
 