<% if  flash[:errors].present? %>
  <div class="alert alert-danger">
    <%= flash[:errors] %>
  </div>
<% end %>
 <p> <%= I18n.t ".title" %> </p>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Post</th>
        <th>Image</th>
        <th>Content</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <% @blogs.each do |blog| %>
        <td><%= blog.post %></td>
        <td><%= image_tag(blog.images.first, :class => 'list_image') if blog.images.present? %></td>
        <td><%= truncate(blog.content, :length => 80) %></td>
        <td><%= link_to '<i class="glyphicon glyphicon-search"></i>'.html_safe, admin_blog_path(blog), class: "btn btn-primary btn-xs"%> </td>
        <td> <%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_admin_blog_path(blog), class: "btn btn-primary btn-xs" %></td>
        <td> <%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, admin_blog_path(blog), data: { confirm: 'Are you sure?' },
                    :method => :delete, class: "btn btn-danger btn-xs" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <td> <%= link_to "New Post", new_admin_blog_path, class: "btn btn-primary" %></td>
  <p><%= will_paginate @blogs %></p>

