<h3>Create a blog</h3>

<%= form_for([:admin, @blog]) do |f| %>
  <%= @blog.errors.full_messages %>

  <div class="form-group">
    <%= f.label :post %><br />
    <%= f.text_field :post, placeholder: "Post", class: "form-control" %>
  </div>
 
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: "ckeditor" %>
  </div>

  <div class="form-group">
        <%= f.label :images %><br>
        <%= f.file_field :images, multiple: true %>
    </div>
 
  <div class="actions">
    <%= f.submit "Post", class: "btn btn-primary" %>
    <%= link_to "Back", admin_blogs_path, class: "btn btn-primary" %>
  </div>

<% end %>
 