<p id="notice"><%= notice %></p>

<div class="form-group">
  <strong>Post:</strong>
  <%= @blog.post %>
</div>

<div class="form-group">
<% @blog.images.each do |image| %>
  <%= image_tag image, class: "detail-images" %>
<% end %>
</div>

<div class="form-group">
  <strong>Content:</strong>
  <%= @blog.content.html_safe %>
  </div>


<%= link_to 'Edit', edit_admin_blog_path(@blog), class: "btn btn-primary" %>
<%= link_to 'Back', admin_blogs_path, class: "btn btn-primary" %>




