<h1>Product List</h1>
<% if  flash[:errors].present? %>
  <div class="alert alert-danger">
    <%= flash[:errors] %>
  </div>
<% end %>
 <p> <%= I18n.t ".title" %> </p>
<table class="table table-striped">
    <thead>
      <tr>
        <th class="text-center">Post</th>
        <th class="text-center">Image</th>
        <th class="text-center">Content</th>
        <th>Show</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <% @products.each do |product| %>
        <td class="text-center"><%= product.name %></td>
        <td class="text-center"><%= image_tag(product.images.first, :class => 'list_image') if product.images.present? %></td>
        <td class="text-center"><%= truncate(product.description, :length => 80) %></td>
        <td><%= link_to '<i class="glyphicon glyphicon-search"></i>'.html_safe, product_path(product), class: "btn btn-primary btn-xs"%> </td>
      </tr>
      <% end %>
    </tbody>
  </table>

<p><%= will_paginate @products %></p>


