<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @product.slug %>
</p>

<% @product.images.each do |image| %>
  <%= image_tag image, class: "detail-images" %>
<% end %> <br/>

<%= link_to 'Back', products_path, class: "btn btn-primary" %>
