<!DOCTYPE html>
<html>
<head>
  <title>DeviseApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "shared/navigation" %>
  <div class="container">
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
 
  <div class="container main">
    <%= yield %>
  </div>
 
 <%= render "shared/footer" %>
</body>
</html>